<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Magenest_Banner::general"
             title="Magenest"
             translate="title"
             module="Magenest_Banner"
             sortOrder="50"
             resource="Magenest_Banner::general"/>
        <add id="Magenest_Banner::banner"
             title="Banner"
             translate="title"
             module="Magenest_Banner"
             sortOrder="10"
             resource="Magenest_Banner::banner"
             parent="Magenest_Banner::general"
             action="magenest/banner/index"/>
    </menu>
</config>
