<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Customer\Model\Metadata\Form\Image">
        <plugin name="magenest_customer_avatar_before_plugin_extract_value"
                type="Magenest\CustomerAvatar\Plugin\Metadata\Form\Image"
                sortOrder="10"
                disabled="false"/>
    </type>
</config>
