<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magenest\Blog\Api\Data\BlogInterface" type="Magenest\Blog\Model\Blog"/>
    <preference for="Magenest\Blog\Api\Data\CategoryInterface" type="Magenest\Blog\Model\Category"/>
    <preference for="Magenest\Blog\Api\BlogRepositoryInterface" type="Magenest\Blog\Model\BlogRepository"/>
    <preference for="Magenest\Blog\Api\Data\BlogApiManagementInterface"
                type="Magenest\Blog\Model\Api\BlogApiManagement"/>
</config>
