<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <magenest_promotion_notification>
            <general>
                <status>1</status>
                <notification>
                    <![CDATA[Sell all items 100%]]>
                </notification>
                <customer_group_list>0</customer_group_list>
            </general>
        </magenest_promotion_notification>
    </default>
</config>
