<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Magenest_Movie::general"
             title="Magenest"
             translate="title"
             module="Magenest_Movie"
             sortOrder="50"
             resource="Magenest_Movie::general"/>
        <add id="Magenest_Movie::movie"
             title="Movie"
             translate="title"
             module="Magenest_Movie"
             sortOrder="10"
             resource="Magenest_Movie::movie"
             parent="Magenest_Movie::general"/>
        <add id="Magenest_Movie::movie_movie"
             title="Movie"
             translate="title"
             module="Magenest_Movie"
             sortOrder="20"
             resource="Magenest_Movie::movie"
             parent="Magenest_Movie::movie"
             action="magenest/index/movie"/>
        <add id="Magenest_Movie::movie_director"
             title="Director"
             translate="title"
             module="Magenest_Movie"
             sortOrder="30"
             resource="Magenest_Movie::director"
             parent="Magenest_Movie::movie"
             action="magenest/index/director"/>
        <add id="Magenest_Movie::movie_actor"
             title="Actor"
             translate="title"
             module="Magenest_Movie"
             sortOrder="40"
             resource="Magenest_Movie::actor"
             parent="Magenest_Movie::movie"
             action="magenest/index/actor"/>
        <add id="Magenest_Movie::reports"
             title="Reports"
             translate="title"
             module="Magenest_Movie"
             sortOrder="60"
             parent="Magenest_Movie::general"
             resource="Magenest_Movie::reports"/>
        <add id="Magenest_Movie::reports_index"
             title="Module Magento"
             translate="title"
             module="Magenest_Movie"
             sortOrder="70"
             parent="Magenest_Movie::reports"
             action="magenest/reports/index"
             resource="Magenest_Movie::reports_index"/>
    </menu>
</config>
