<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magenest" translate="label" sortOrder="200">
            <label>Magenest</label>
        </tab>
        <section id="magenest_promotion_notification"
                 translate="label"
                 type="text"
                 sortOrder="10"
                 showInDefault="1"
                 showInWebsite="1"
                 showInStore="1">
            <class>separator-top</class>
            <label>Promotion Notification</label>
            <tab>magenest</tab>
            <resource>Magenest_PromotionPopup::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Promotion Notification Popup Configuration</label>
                <field id="status" translate="label" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    <comment>
                        <![CDATA[
                           Note: Popup notifications when customer visit homepage.
                        ]]>
                    </comment>
                </field>
                <field id="notification" translate="label" type="textarea" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Notification</label>
                </field>
                <field id="customer_group_list" translate="label" type="multiselect" sortOrder="40" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Customer Groups</label>
                    <source_model>Magento\Customer\Model\Customer\Source\Group</source_model>
                    <comment>
                        <![CDATA[
                           Note: Allow which group customer have permission to see popup.
                        ]]>
                    </comment>
                </field>
            </group>
        </section>
    </system>
</config>
